/src/main/resources/source/combination_bliss.csv
/src/main/resources/source/9606.protein.links.v11.0.txt
/src/main/resources/source/9606.protein_chemical.links.detailed.v5.0.tsv
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/